doctype html
html(lang="et")

block content
    link(rel='stylesheet', href='/stylesheets/emails.css')
    meta(charset='UTF-8')
    -var User = user ? user : {asutus: '',asutusTais: '' };
    -var Doc = doc ? doc : {laekumise_period: ''};

    div.body_wrapper
        p Austatud arve saaja, saatsime Teile arve osutatud teenuste eest perioodil #{Doc.laekumise_period}
        br
        p Teenuste osutajaks on #{User.asutusTais}
        br
        p Küsimuste korral palun pöörduge esmalt teenuseid osutanud asutuse esindaja poole.