<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        h1 Maksjate register

        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th Kood
                    th Nimetus
                    th All üksused

            tbody
                each grupp in data
                    tr
                        td=grupp.kood
                        td=grupp.nimetus
                        td=grupp.all_yksused
