<!DOCTYPE html>
html(lang="et")

block content
    link(rel='stylesheet', href='/stylesheets/emails.css')

    div.body_wrapper
        p
            p Austatud töötaja/töövõtja
            br
            p Antud kirja manuses leiate palgakviitungi Teile arvestatud töötasule.
            p Küsimuste korral palun pöörduge Teie töökoha administratsiooni poole. Kontaktid leiate Narva linna veebilehel www.narva.ee.
            p Kiri on koostatud ja saadetud automaatselt, palume sellele mitte vastata.
            br
            p Parimate soovidega


