<!DOCTYPE html><html><body><meta charset="UTF-8"><div class="doc_wrapper"><p class="doc_header">, reg.kood: </p><p class="doc_header"></p><p class="doc_header"></p><p class="doc_header"></p></div></body><meta charset="utf-8"><style type="text/css">.grid_head {
    background-color: lightgray;;
}

.doc_wrapper {
    margin-left: 5%;
    margin-top: 5%;
    width: auto;
}

.grid_data {
    width: 100%;
    border: 1px solid lightgray;
}

.row_wrapper {
    display: -webkit-box;
    flexDirection: row;
}

.label {
    width: 10%;
}

.input {
    width: 90%;
    margin-left: 5%;
    font-weight: bold;
}

.label_subtotal {
    width: 70%;
}

.div {
    margin: 1%;
}
.td {


}</style></html>