<!DOCTYPE html><html lang="et"></html><style type="text/css">.doc_wrapper {
    margin-left:5%;
    margin-top:5%;
    width:auto;
}
.row_wrapper {
    display:-webkit-box;
    flexDirection: row;
}
.label {
    width:10%;
}
.text {
    width:100%;
}
.input {
    width:90%;
    margin-left:5%;
    font-weight: bold;
}
.doc_footer {
    display: grid;
    grid-auto-rows: 30px;
}
.div_column_left{
    width: 500px;
}
.div_column_right{
    width: 200px;
}
.td_align {
    text-align: center;
    vertical-align: top;
}
.auto {
    width: auto;
}


</style><link rel="stylesheet" href="/stylesheets/reports.css"/><link rel="stylesheet" href="/stylesheets/reports.css"/>