extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Aasta näitajad"
        br
        p Register asub menust
            a(href="/help/reports")
                span  Aruanned
            span  -> Aasta näitajad

        br
        img(src='/images/help/aasta_1.png')
        br
        p Päring arvestab laste kogus grupeeritud kuu järgi.
        br
        p ka on kõik
            a(href="/help/registers")
                span  registri tegevused

    include help_footer


