extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Dokumendi koostamine"
        br
        p Uue dokumendi koostatakse vajutame nupp Lisa
        img(src='/images/help/create_1.png')
        br
        p Sisestame kõik vajalikud andmed
        p kui tähtis infot puudub, tuleb teavitus kollase värviga
        img(src='/images/help/create_2.png')
        br
        p andmete salvestamiseks vajutage nupp Save või Salvesta ehk cancel või katkesta kui ei taha salvesta parandused
        img(src='/images/help/create_4.png')
        br
        p Roheline teavitus kinnitab et salvestamine oli edukalt,  teistpidi tuleb punane värviga teatis informeerib mis viga oli
        br
        p Iga muudatus registreeritakse
        a(href="/help/logid")
            span  logiraamatus
        img(src='/images/help/create_5.png')


    include help_footer


