extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Asutused ja eraisikud"
        br
        h3 Register
        p Selline register koguneb kontr-agentide andmed.
        p Register asub menust P체siandmed -> asutused
        br
        p Baasi funktsionaalsus nagu k천ik teistes
            a(href="/help/registers")
                span  registris
        br
        p Tabelis on reg.kood / isikukood, nimetus / nimi, om. vorm ja aadress
        br
        h3 T채iendav funktsionalsus
        p Import
        p Ainult programmi administratoori jaoks. Importeeritab laste andmed.
        br
        h3 Dokument
        img(src='/images/help/asutus_2.png')
        p - reg. kood / isikukood (vajalik)
        p - nimetus / nimi (vajalik)
        p - om. vorm
        p - aadress
        p - kontakt
        p - telefon ja email aadress
        p - m채rkused
        br
        p Andmete
            a(href="/help/add_document")
                span  lisamine,
            a(href="/help/edit_document")
                span  parandamine,
            a(href="/help/print_document")
                span  printimine,
            a(href="/help/email_document")
                span  email,
            a(href="/help/logid")
                span  logid

    include help_footer


