extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Dokumendi kustutamine"
        br
        p Dokumendi kustutamiseks vajutage nupp Kustuta
        img(src='/images/help/register_4.png')
        p Aknas kinnitage kustutamine
        p Kui kustutamine oli õnnestus, tuleb roheline teatis et operatsioon oli edukalt
        img(src='/images/help/create_5.png')
        p Mitte kõik dokumendid võib kustuta ära. Kui operatsioon on keelatud, tuleb punane teatis.
        p Logiraamatus salvestatakse kustutamine sündimus


    include help_footer


