extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Dokumendid"
        img(src='/images/icons/documents.png')
        br
        p Selles gruppis asuvad kõik dokumendid
        br
        img(src='/images/help/docs.png' alt='Dokumendid')
        br
        a(href="/help/teatis") - Teatised
        br
        a(href="/help/arv") - Arved
        br
        a(href="/help/smk") - Sissemakse korraldus
        br
        a(href="/help/vmk") - Väljamakse korraldus
        br
        a(href="/help/sorder") - Sissemakse kassaorder
        br

    include help_footer


