extends help_header
block content
    div.doc_wrapper
    h2 LEHT "Ebatõenäolised"
    br
    p Register asub menust
        a(href="/help/reports")
            span  Aruanned
        span  -> Ebatõenäolised

    br
    img(src='/images/help/eba_1.png')
    br
    p Päring näitab ebatõenäolised nõuded. Filter lubab kinnita seisuga kuupäev
    br
    h3 Täiendatav funktsionaalsus
    p Saama CSV fail
    img(src='/images/help/arved_kood_3.png')
    p genereerib CSV fail vajaliku vormis ja salvestab kõvakettas
    br
    p ka on kõik
        a(href="/help/registers")
            span  registri tegevused

    include help_footer


