extends help_header
block content
    div.doc_wrapper
            h1 LEHT "Dokumendi saatmine emailliga"
            p Dokumendi saatmiseks emailiga vajutame nupp Email
            img(src='/images/help/register_6.png')
            br
            p Uues aknas sisesta aadress, pealkiri ja sisu. Dokument asub manuses (nupp Doc.pdf) PDF formadis
            img(src='/images/help/email_1.png')
            br
            p vajuta nupp Email dokumendi saatmiseks.
            img(src='/images/help/email_2.png')
            br
            p Roheline teavitus kinnitab et saatmine oli edukalt
            br
            p Tähtis. Programmis peaks häälestatud email
            a(href="/help/rekv")
                span  konto
            img(src='/images/help/email_3.png')


    include help_footer


