html(lang="et")
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/help.css')
    body
        div.doc_wrapper
            h1 Juhend
            h3 Indeks

            a(href="/help/menu") Menu
            br
            a(href="/help/login") Sisselogimine
            br
            a(href="/help/registers") Registrid
            br
            a(href="/help/add_document") Dokumendi koostamine
            br
            a(href="/help/edit_document") Dokumendi parandamine
            br
            a(href="/help/delete_document") Dokumendi kustutamine
            br
            a(href="/help/print_document") Dokumendi trükkimine
            br
            a(href="/help/email_document") Dokumendi saatmine emailliga
            br
            a(href="/help/filter_document") Dokumendi otsimine


