html(lang="et")
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/help.css')
    body
        div.doc_wrapper
            h1 Juhend
            h3 Indeks

            a(href="/help/menu") Menu
            p Sisselogimine
            p Registrid
            p Dokument


