extends help_header
block content
    div.doc_wrapper
        h1 LEHT "INF3 Füüsiliste isikute tasutud koolituskulude deklaratsioon"
        p Aruanne asub menus aruanned -> INF3 Füüsiliste isikute tasutud koolituskulude deklaratsioon
        br
        img(src='/images/help/inf3.png')

        p Päring koguneb andmed INF3 deklaratsiooni koostamiseks. Kõik makstud teenused, märgistatud nagu INF3
            a(href="/help/nomenclature")
                span  teenus
        p perioodis (selle jaoks vaja ava filtri aken ja määrata aasta)
            img(src='/images/help/inf3_1.png')
        br
        h3 Täiendatav funktsionaalsus
        p Saama XML fail
            img(src='/images/help/inf3_2.png')
        p genereerib XML fail vajaliku vormis ja salvestab kõvakettas
        br
        p ka on kõik
            a(href="/help/registers")
                span  registri tegevused

    include help_footer


