extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Lapse kokkuvõtte"
        br
        p Register asub menust
            a(href="/help/reports")
                span  Aruanned
            span  -> Lapse kokkuvõtte

        br
        img(src='/images/help/lapse_kokkuvotte_1.png')
        br
        p Päring koguneb arvete andmed järgi grupeeritud laste järgi.
        br
        p ka on kõik
            a(href="/help/registers")
                span  registri tegevused


    include help_footer


