extends help_header
block content
    div.doc_wrapper
            h1 LEHT "P체siandmed"
            img(src='/images/icons/libraries.png')
            br
            p Selles gruppis asuvad k천ik p체siandmed
            br
            img(src='/images/help/libraries.png' alt='P체siandmed')
            br
            a(href="/help/laps") - Lapsed
            br
            a(href="/help/vanem") - Vanemate register
            br
            a(href="/help/lapse_kaart") - Teenused lastele
            br
            a(href="/help/lapse_taabel") - Teenuste taabel lastele
            br
            a(href="/help/asutused") - Asutused ja eraisikud
            br
            a(href="/help/nomenclature") - Operatsioonid
            br
            a(href="/help/tunnus") - Tunnused
            br

            a(href="/help") Indeks


