extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Logid"
        br
        p Iga muutused salvestatakse logiraamatus. Seal hoitakse info millal dokument oli koostatud, muudetud ja kustutatud.
        p Eraldi, salvestatakse info mis kuupäevas dokument oli prinditud või saadetud emailiga.
        br
        p Et ava logid vajutage nupp Loggid
        img(src='/images/help/create_5.png')
        p Aknas näitab kes, mida ja millal.
        img(src='/images/help/loggid_1.png')
        br
        p Nupp Ok suleta aken

    include help_footer


