extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Menu"
        br
        p Vasak nurgas asub menu nupp
        img(src='/images/icons/start.png')
        br
        img(src='/images/help/start_menu_1.png')
        p Hiirega valime vajaliku menu punkt. Kohe toimub valitud lehele suunamine
        br
        p Menus on j채rgmised gruppid
        a(href="/help/reports") - Aruanned
        br
        a(href="/help/docs") - Dokumendid
        br
        a(href="/help/libraries") - P체siandmed
        br
        a(href="/help/service") - H채채lestamine
        br
        p Iga gruppi all asuvad saadal ressursid
        br
    include help_footer


