extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Dokumendi trükkimine"
        br
        p Dokumendi prindimiseks vajutage nupp Trükk
        img(src='/images/help/register_5.png')
        p Dokumendi vorm, mis sobib printimiseks avatakse uuel vahelehel
        img(src='/images/help/print_1.png')
        p Valige printeri seadme standartse browseri menus
        img(src='/images/help/print_2.png')

    include help_footer


