extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Registers"

        p Register teeb püring ja näitab tulemus tabeli vormis
        br
        h3 Nuppud
        br
        img(src='/images/help/register_1.png')
        br
        p nupp Lisa
        img(src='/images/help/register_2.png')
        p avab uus leht dokumendi koostamiseks. Kui nupp puudub - tähendab et see funktsionalsus puudub või puudub õigused
        br
        p nupp Muuda
        img(src='/images/help/register_3.png')
        p avab uus leht dokumendi
            a(href="/help/edit_document")
                span  parandamiseks.
        p Kui nupp puudub - tähendab et see funktsionalsus puudub või puudub õigused
        br
        p nupp Kustuta
        img(src='/images/help/register_4.png')
        p kustutab ära dokument
        p Enne kui programm kustatab dokument vaja kinnitada tegevust - vajuta nupp Ok kinnitamis aknas
        br
        p nupp Trükk
        img(src='/images/help/register_5.png')
        p prindib dokument
        p programm koostab uues lehes prindi soovitav koopia.
        br
        p nupp Email
        img(src='/images/help/register_6.png')
        p saadab dokument
            a(href="/help/email_document")
                span  emailiga.
        br
        p nupp Filter
        img(src='/images/help/register_7.png')
        p avab aken kus võite kasutada
            a(href="/help/filter_document")
                span  filtreemis
        p  parameetrid ja programm avab ainult dokumendid, mis soobivad kriteeruimidele
        p filtri parametrit näidatakse vasak nurgas tabeli üleval
        br
        p nupp Uuenda
        img(src='/images/help/register_8.png')
        p saadab päring ja uuendab andmed tabelis
        br

        p nupp Valida
        img(src='/images/help/register_11.png')
        p lubab lisaks valida ainult vajaliku kirje eri tegevuseks (näiteks arvete prindimine).
        br
        h3 Sorteerimine
        img(src='/images/help/register_9.png')
        p kui kasutaja vajutab tabelis veergu osa, program uuendab tabeli sisu ja organiseerib kirjad valitud veergi järgi
        br

        h3 Kirje valimine
        img(src='/images/help/register_10.png')
        p dokumendi avamiseks vaja enne see valida. Ühekordne klik määrab kiri. Kahekordne klik avab dokument
        br

        h3 Teavitamine
        img(src='/images/help/register_12.png')
        p edukalt lõpetatud ülesanded lõpuks nädavad tulemused rohelisega tagafoniga.
        p Kui värv on kollane - tähendab et tulemus on 0 dokumendid
        p Kui värv on punane - tähendab et tekkis viga. Võite proovida uuesti aga võib olla vaja sisse logida
        br
        p vasak nurgas asub kirje limiit. Tavaliselt päringus näidatakse 100 dokumendid. Aga võite suurendada number.

    include help_footer


