html(lang="et")
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/help.css')
    body
        div.doc_wrapper
            h1 LEHT "Asutuse andmed"

            a(href="/help") Indeks


