extends help_header
block content
    div.doc_wrapper
            h1 LEHT "Aruanned"
            img(src='/images/icons/reports.png')
            br
            p Selles gruppis asuvad kõik aruanned ja deklaratsiood
            br
            img(src='/images/help/start_menu_2.png' alt='Menu nimekiri' width="500" height="500")
            br
            a(href="/help/inf3") - INF3 Füüsiliste isikute tasutud koolituskulude deklaratsioon
            br
            a(href="/help/laps_kokkuvotte") - Lapse kokkuvõtte seis
            br
            a(href="/help/arved_koodi_jargi") - Arved koodi järgi
            br
            a(href="/help/saldo_ja_kaive") - Saldo ja käive aruanne
            br
            a(href="/help/sent_docs") - Saadetud dokumendid
            br
            a(href="/help/child_age") - Laste vanus
            br
            a(href="/help/soodustused") - Soodustused
            br
            a(href="/help/statistika") - Laste statistika
            br
            a(href="/help/ebatoenaolised") - Ebatõenäolised nõuded
            br
            a(href="/help/kondarve") - Kondarve
            br
            a(href="/help/aasta_naitajad") - Aasta näitajad
            br

            a(href="/help") Indeks


