extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Saadetud dokumendid"
        br
        p Register asub menust
            a(href="/help/reports")
                span  Aruanned
            span  -> Saadetud dokumendid

        br
        img(src='/images/help/sent_docs_1.png')
        br
        p Päring koguneb saadetud või prinditud arvete andmed.
        br
        p ka on kõik
            a(href="/help/registers")
                span  registri tegevused

    include help_footer


