html(lang="et")
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/help.css')
    body
        div.doc_wrapper
            h1 LEHT "H채채lestamine"
            img(src='/images/icons/services.png')
            br
            p Selles grupis asuvad lingid tehniliste ressursse
            br
            img(src='/images/help/services.png' alt='H채채lestamine')
            br
            a(href="/help/userid") - Kasutaja andmed
            br
            a(href="/help/rekv") - Oma asutuse andmed
            br
            a(href="/help/config") - Konfiguratsioon
            br
            a(href="/help") Indeks


