extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Laste statistika"
        br
        p Register asub menust
            a(href="/help/reports")
                span  Aruanned
            span  -> Laste statistika

        br
        img(src='/images/help/stat_1.png')
        br
        p Päring koguneb erinevaid statistika andmed  grupeeritud pere järgi.
        br
        p ka on kõik
            a(href="/help/registers")
                span  registri tegevused

    include help_footer


