extends help_header
block content
    div.doc_wrapper
        h1 LEHT "Väljamakse korraldus"
        h3 Register
        p Selline register koguneb väljamakse korraldused.
        p Register asub menust Dokumendid -> Väljamakse korraldused
        br
        img(src='/images/help/vmk_1.png')

        p Baasi funktsionaalsus nagu kõik teistes
            a(href="/help/registers")
                span  registris
        br
        p maksepäev, korralduse number, maksja nimi, summa, arveldusarve, viitenumber, lapse nimi ja isikukood
        br
        h3 registri täiendav funktsionalsus
        p - Saama XML fail SEPA formaadis
        img(src='/images/help/vmk_2.png')
        p - programm koostab XML fail ja salvestab ketas
        br
        h3 Dokument
        img(src='/images/help/smk_3.png')
        p - number
        p - kpv
        p - arveldusarve
        p - arve nr
        p - maksepäev
        p - viitenumber
        p - selgitus
        p - makse teenused ja summa
        br
        h3 MK teenuse parandamine
        p vajuta dokumendi nupp Muuda rea parandamiseks
        img(src='/images/help/smk_4.png')
        p vajuta nuppud Lisa ehk Muuda teenuse rea parandamiseks
        br
        p Dokumendi summa arvestatakse automatselt
        br
        img(src='/images/help/smk_5.png')
        p Kui dokument sisaldab seotud dokumendid, nende lingid asuvad ülemises nurgas nagu lehed.
        p Klikkige hiirega leht seotud dokumendi avamiseks
        br
        h3 Dokumendi täiendav funktsionalsus
        br

        p Andmete
            a(href="/help/add_document")
                span  lisamine,
            a(href="/help/edit_document")
                span  parandamine,
            a(href="/help/print_document")
                span  printimine,
            a(href="/help/email_document")
                span  email,
            a(href="/help/logid")
                span  logid


    include help_footer


